__pycache__
*.pt
*.pyc
*.pyo
*.pyd
*.env
*.parquet
!docs/all_label_description_dummy.parquet
*.venv*
.*

/data/input/*
!/data/input/.gitkeep
/data/intermediate/*
!/data/intermediate/.gitkeep
/data/output/*
!/data/output/.gitkeep

/logs/*
!/logs/.gitkeep

/src/SARVI.egg-info

/tmp/*
/private/*