__pycache__
*.pyc
*.pyo
*.pyd
*.env
*.pt
*.parquet
*.venv*

/data/input/*
!/data/input/.gitkeep
/data/intermediate/*
!/data/intermediate/.gitkeep
/data/output/*
!/data/output/.gitkeep

/logs/*
!/logs/.gitkeep

/notebooks/CodiEsp
/notebooks/FT*
/notebooks/Perceiver

/src/MrDoc.egg-info

/tmp/*