__pycache__
*.pyc
*.pyo
*.pyd
*.env
*.pt
*.parquet
*.venv*
.*

/data/input/*
!/data/input/.gitkeep
/data/intermediate/*
!/data/intermediate/.gitkeep
/data/output/*
!/data/output/.gitkeep

/logs/*
!/logs/.gitkeep

/notebooks/FT
/notebooks/private

/src/SARVI.egg-info

/docs/CodiEsp
/docs/MedLexSp_v2
/docs/old

/tmp/*
/private/*